[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
typing-extensions = "*"
opencv-python-headless = "*"
ultralytics-opencv-headless = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
