:root {
  font-family: Lato, sans-serif !important;
  font-weight: 300;

  --background: #FFFFFF;
  --blue: #004C98;
  --gray: #ECECEC;
  --stroke: #CFCFCF;
  --title: #000000;
  --text: #2A2A2A;
  --green: #688B18;
  --green-text: #57710E;
  --purple: #9764B9;
  --orange: #C76E01;
  --gradient-green: #688b1889;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.8v7);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, main {
  margin: 0;
  padding: 0;
}

main {
    overflow: auto;
    margin: 0;
    margin-bottom: 5%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  color: var(--title);
}

input, button, label, select, th, tr, td {
  font-family: Lato, sans-serif !important;
  font-weight: 400;
}

.leaflet-container {
  height: 50vh;
  width: 50vw;
}
